@import "tailwindcss";

@theme {
  --font-aspekta: var(--font-aspekta);

  --color-lime-green: oklch(91.5% 0.19 115);
  --color-white-smoke: oklch(0.97 0.003 110);
  --color-deep-plum: oklch(26% 0.06 322);
  --color-dark-slate: oklch(22.69% 0.034 256);
  --color-off-white: oklch(97.38% 0.0037 115.53);

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-surface-muted: #f7f8f5;
  --color-border: #d6d9d2;
  --color-text-muted: #6b7280;
  /* ... */
}
