@font-face {
  font-family: "Aspekta Variable";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/assets/fonts/AspektaVF.woff2") format("woff2");
}

@import "tailwindcss";
@import "@repo/tailwind-config";

:root {
  --font-aspekta: "Aspekta Variable", sans-serif;
  box-sizing: border-box;
}

body {
  @apply bg-off-white font-aspekta text-dark-slate;
}

.container {
  @apply max-w-300 m-auto overflow-hidden px-6;
}
