@font-face {
  font-family: "Aspekta Variable";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/assets/fonts/AspektaVF.woff2") format("woff2");
}

@import "tailwindcss";
@import "@repo/tailwind-config";

@layer base {
  * {
    @apply transition-colors duration-300;
  }
}

:root {
  --font-aspekta: "Aspekta Variable", sans-serif;
  box-sizing: border-box;
  --bg: var(--color-pearl-white);
  --bg-sec: var(--color-off-white);
  --text: var(--color-dark-slate);
  --bg-card: #ffffff;
  --bg-border: var(--color-dark-slate);
  --text-detail: #4a5565;
}

.dark {
  --bg: var(--color-dark-slate);
  --bg-sec: #101828;
  --text: #ffffff;
  --bg-card: var(--bg-sec);
  --bg-border: var(--bg-sec);
  --text-modal: #ffffff;
  --text-detail: #d1d5dc;
}

body {
  @apply font-aspekta;
}

.container {
  @apply max-w-300 m-auto overflow-hidden px-6;
}

.container {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container {
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .carousel-fade {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      #111d2c 4%,
      #111d2c 96%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      #111d2c 4%,
      #111d2c 96%,
      transparent
    );
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.appear-view {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
